body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(/bilder/midsommar.jpg);
}

.quiz-container {
  width: 90%;
  max-width: 600px;
  background: #f4f4f4;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(244, 244, 244, 0.7);
  display: flex;
  justify-content: center;
}

.question-counter {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(99, 93, 93);
}

.question {
  text-align: center;
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #3995db;
  padding: 25px;
  color: white;
}

.answers {
  margin-bottom: 20px;
}

.answer {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #25618f;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
  color: white;
}

.answer:hover {
  background: #183e5c;
}

.next-btn {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #25618f;
  color: white;
  cursor: pointer;
  margin-left: 70%;
  font-size: 16px;
}

.next-btn:hover {
  background-color: #183e5c;
}

.answer.correct {
  background-color: #178d1d;
}

.answer.incorrect {
  background-color: #ad2f26;
}

#start-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: #25618f;
  color: white;
  cursor: pointer;
}

#start-quiz:hover {
  background-color: #183e5c;
}
